<h2>Por País</h2>

<hr>

<div class="row">
  <div class="col">
    <form (ngSubmit)="buscar()" autocomplete="off">
      <input type="text" name="termino" class="form-control"
             [(ngModel)]="termino"  placeholder="Buscar país..." >
    </form>
  </div>
</div>

<hr>

<div *ngIf="isError" class="alert alert-danger"> No se encontró nada con el término {{termino}}</div>

<div class="row">
  <div class="col">
    <table *ngIf="countries.length > 0" class="table table-hover" >
      <caption>Paises</caption>
      <thead>
        <tr>
          <th>#</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Población</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let country of countries; let i =index">
        <td>{{i+1}}</td>
        <td>
          <img src="{{country.flag}}" alt="{{country.name}}" width="50" height="50">
        </td>
        <td>
          {{country.name}}
        </td>
        <td>
          {{country.population}}
        </td>
        <td>
          <a [routerLink]="['/pais', country.name]">Ver...</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
