<div class="animate__animated animate__fadeIn">
    <h2>Por País</h2>

    <hr>

    <div class="row">
        <div class="col">
            <app-pais-input (onDebounce)="sugerencias($event)"
                            (onEnter)="buscar($event)"
                            [placeholder]="placeholder"></app-pais-input>
        </div>
    </div>
    <ul *ngIf="buscarSugerencia" class="list-group">
        <li class="list-group-item list-group-item-action"
        *ngFor="let sugerencia of countriesSugeridos">
           <a [routerLink]="['/pais', sugerencia.alpha2Code]">{{ sugerencia.name }}</a>
        </li>
    </ul>

    <hr>
</div>

<div *ngIf="isError" class="alert alert-danger"> No se encontró nada con el término {{termino}}</div>

<div class="row">
    <div class="col">
        <app-pais-tabla [countries]="countries"></app-pais-tabla>
    </div>
</div>
